---
repository:
  name: github_exporter
  description: Prometheus exporter for GitHub
  homepage: https://promhippie.github.io/github_exporter/
  topics: prometheus, prometheus-exporter, metrics, github

  private: false
  has_issues: true
  has_wiki: false
  has_downloads: false

  default_branch: master

  allow_squash_merge: true
  allow_merge_commit: true
  allow_rebase_merge: true

  allow_update_branch: true
  allow_auto_merge: true
  delete_branch_on_merge: true
  enable_automated_security_fixes: true
  enable_vulnerability_alerts: true

branches:
  - name: master
    protection:
      required_pull_request_reviews: null
      required_status_checks:
        strict: true
        contexts:
          - testing
      enforce_admins: false
      restrictions:
        apps:
          - renovate
          - promhippie
        users: []
        teams:
          - admins
          - bots
          - members

teams:
  - name: admins
    permission: admin
  - name: bots
    permission: admin
  - name: members
    permission: maintain

labels:
  - name: bug
    color: fc2929
    description: Something isn't working
  - name: duplicate
    color: cccccc
    description: This issue or pull request already exists
  - name: enhancement
    color: 84b6eb
    description: New feature or request
  - name: good first issue
    color: 7057ff
    description: Good for newcomers
  - name: help wanted
    color: 159818
    description: Extra attention is needed
  - name: invalid
    color: e6e6e6
    description: This doesn't seem right
  - name: question
    color: cc317c
    description: Further information is requested
  - name: renovate
    color: 1d76db
    description: Automated action from Renovate
  - name: wontfix
    color: 5319e7
    description: This will not be worked on
  - name: hacktoberfest
    color: d4c5f9
    description: Contribution at Hacktoberfest appreciated
  - name: ready
    color: ededed
    description: This is ready to be worked on
  - name: in progress
    color: ededed
    description: This is currently worked on
  - name: infra
    color: 006b75
    description: Related to the infrastructure
  - name: lint
    color: fbca04
    description: Related to linting tools
  - name: poc
    color: c2e0c6
    description: Proof of concept for new feature
  - name: rebase
    color: ffa8a5
    description: Branch requires a rebase
  - name: third-party
    color: e99695
    description: Depends on third-party tool or library
  - name: translation
    color: b60205
    description: Change or issue related to translations
  - name: ci
    color: b60105
    description: Related to Continous Integration
  - name: docs
    color: b60305
    description: Related to documentation
  - name: outdated
    color: cccccc
    description: This is out of scope and outdated

...
