[Unit]
Description=Prometheus exporter for GitHub
Documentation=https://promhippie.github.io/github_exporter/

Requires=network.target
After=network.target

[Service]
Type=simple
User=github-exporter
Group=github-exporter
EnvironmentFile=-/etc/default/github-exporter
EnvironmentFile=-/etc/sysconfig/github-exporter
ExecStart=/usr/bin/github_exporter $GITHUB_EXPORTER_ARGS
WorkingDirectory=/var/lib/github-exporter
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
