---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: automerge

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'

    steps:
      - name: Generate token
        id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TOKEN_EXCHANGE_APP }}
          private-key: ${{ secrets.TOKEN_EXCHANGE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-issues: write

      - name: Fetch metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Approve request
        run: gh pr review --approve "${{github.event.pull_request.html_url}}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable automerge
        run: gh pr merge --rebase --auto "${{github.event.pull_request.html_url}}"
        env:
          GH_TOKEN: ${{ steps.token.outputs.token }}

...
