---
name: binaries

"on":
  push:
    tags:
      - v*

jobs:
  binaries:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Setup golang
        id: golang
        uses: actions/setup-go@v4
        with:
          go-version: ^1.21.0

      - name: Run generate
        id: generate
        run: make generate

      - name: Run release
        id: release
        run: make release

      - name: Sign release
        id: gpgsign
        uses: actionhippie/gpgsign@v1
        with:
          private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          detach_sign: true
          files: dist/*
          excludes: dist/*.sha256

      - name: Build changes
        id: changelog
        if: startsWith(github.ref, 'refs/tags/')
        uses: actionhippie/calens@v1
        with:
          version: ${{ github.ref }}

      - name: Upload release
        id: upload
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ steps.changelog.outputs.generated }}
          artifacts: dist/*

...
