---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: flake

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1"

permissions:
  contents: write

jobs:
  flake:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.TOKEN_EXCHANGE_APP }}
          installation_retrieval_mode: id
          installation_retrieval_payload: ${{ secrets.TOKEN_EXCHANGE_INSTALL }}
          private_key: ${{ secrets.TOKEN_EXCHANGE_KEY }}
          permissions: >-
            {"contents": "write"}

      - name: Checkout source
        uses: actions/checkout@v5
        with:
          token: ${{ steps.token.outputs.token }}

      - name: Install nix
        uses: cachix/install-nix-action@v31

      - name: Update flake
        run: nix flake update

      - name: Source rebase
        run: git pull --autostash --rebase

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: github@webhippie.de
          add: flake.lock
          message: "chore(flake): updated lockfile [skip ci]"
          push: true
          commit: --signoff

...
