---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: kustomize

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Generate manifest
        uses: actionhippie/kustomize@74da477ce23150a2e2e68a0b8f4db4734440c22b # v3
        with:
          version: 5.7.0
          path: deploy/kubernetes/
          target: deploy/kubernetes/bundle.yml

...
