---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: kustomize

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Generate manifest
        uses: actionhippie/kustomize@3c90048a9e2e5878ecf76471adbab152b0de854c # v3
        with:
          version: 5.7.0
          path: deploy/kubernetes/
          target: deploy/kubernetes/bundle.yml

...
