---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: kustomize

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Generate manifest
        uses: actionhippie/kustomize@9daa2da688dfc1a94a0fad3b801537bec60452cd # v3
        with:
          version: 5.7.0
          path: deploy/kubernetes/
          target: deploy/kubernetes/bundle.yml

...
